body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
}

.vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.port-entry > * {
    flex-direction: row;
    display: inline;
}